h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 1rem;
    margin-top: 10rem;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
}

.description {
    margin-bottom: 15rem;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
    margin-top: 1rem;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
}

footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
}

img {
    padding: 1rem;
    text-align: center;
}