html {
    --gray: #444444;
    --gray-dark: #333333;
    --gray-light: #f2f2f2;
}

body {

}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
    
}

p {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header  {
    background-color: #F07300;
}

.overview {
    background-color: var(--gray);
    color: #ffffff;
    padding: 4rem 0;
}


figcaption {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}

.sample {
    padding: 5rem 0;
    color: var(--gray-dark)
}

footer p {
    margin-bottom: 0;
}

footer {
    background-color: var(--gray-light);
    padding: 1.5rem 0;
}

@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}


.dos-column {
    display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
}

.five-column {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    margin-left: 2rem;

}

.hamburger-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}


.full-menu {
    color: #F07300;
    text-align: center;
    margin-top: 3rem;
}

.left-aligned-headers {
    margin-left: 2rem;
    margin-top: 3rem;
}

.right-aligned-headers {
    text-align: right;
    margin-right: 4.7rem;
    margin-top: 3rem;
}

.full-menu {
    margin-bottom: 5rem;
}

.right-rule {
    margin-left: 2rem;
}

.left-rule-one {
    margin-right: 7rem;
}

.left-rule-two {
    margin-right: 1rem; 
}