

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
    
}

p {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
}


header  {
    background-color: #F07300;
}

.header-image{
    size: cover;
    height: 100vh;
}

@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}



.five-column {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    margin-left: 2rem;

}

.hamburger-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}


.full-menu {
    color: #F07300;
    text-align: center;
    margin-top: 4rem;
}

.left-aligned-headers {
    margin-left: 2rem;
    margin-top: 3rem;
}

.right-aligned-headers {
    text-align: right;
    margin-right: 4.7rem;
    margin-top: 3rem;
}

.full-menu {
    margin-bottom: 5rem;
}

.right-rule {
    margin-left: 2rem;
}

.left-rule-one {
    margin-right: 7.8rem;
}

.left-rule-two {
    margin-right: 0.8rem; 
}

.about-us-info {
    margin-left: 2rem;
    margin-right: 0.8rem;
    margin-top: 2rem;
}

.charlies-cafe-image {
    margin-left: 1.4rem;
    margin-right: 0.8rem;
}

td {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

tr {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}


@media screen and (min-width: 800px) {
    section {
      display: grid;
      gap: 3rem;
      grid-template-columns: 1fr 1fr;
    }
    .table-1 {
        padding: 3rem;
    }
    .table-2 {
        padding: 3rem;
    }
    .table-3 {
        padding: 3rem;
    }
    .table-4 {
        padding: 3rem;
    }
}
